In [2]:
import mysql.connector as connector

In [4]:
connection = connector.connect(user='testuser', password='123456789$', db='littlelemondb')

In [5]:
cursor = connection.cursor()

In [6]:
cursor.execute('SHOW TABLES')

In [7]:
print(cursor.column_names)
for table in cursor:
    print(table)

('Tables_in_littlelemondb',)
('bookings',)
('customers',)
('menuitems',)
('menus',)
('orderdelivery',)
('orders',)
('ordersview',)
('staff',)

In [8]:
show_tables_query = 'SHOW TABLES'

In [9]:
cursor.execute(show_tables_query)

In [11]:
for table in cursor:
    print(table)

('bookings',)
('customers',)
('menuitems',)
('menus',)
('orderdelivery',)
('orders',)
('ordersview',)
('staff',)

In [12]:
order_detail_query = """SELECT CONCAT(Customers.FirstName, ' ', Customers.LastName) AS FullName,
Customers.ContactNumber, 
Customers.Email
FROM Customers
INNER JOIN Bookings
ON Customers.CustomerID = Bookings.CustomerID
INNER JOIN Orders
ON Bookings.BookingID = Orders.BookingID
WHERE TotalCost > 60;
"""

In [13]:
cursor.execute(order_detail_query)

In [14]:
results = cursor.fetchall()

In [15]:
cols = cursor.column_names

In [16]:
print(cols)
for result in results:
    print(result)

('FullName', 'ContactNumber', 'Email')
('Zhang Jiani', '1112223333', 'zjiani@gmail.com')
('Zhang Jiani', '1112223333', 'zjiani@gmail.com')
('Zhang Jiangli', '1112224444', 'zjiangli@gmail.com')
('Chae Chaewon', '1112226666', 'cchaewon@outlook.com')
('Ivan Chang', '1112227777', 'ichang@gmail.com')
('Gabriel Martinelli', '1112228888', 'gmartinelli@gmail.com')
('Gabriel Martinelli', '1112228888', 'gmartinelli@gmail.com')